<footer class="footer">
    <div class="footer-items">

        <div class="footer-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <!-- <i class="fa-brands fa-linkedin"></i> -->
        </div>
        <div class="brand">
            &copy;BookManagement
        </div>
        <div class="footer-link">
            <a href="/privacy">privacy</a>
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>